.SimilarBoard-Title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;

}

.SimilarBoard-SubTitle {
    font-size: 18px;
    font-weight: bold;
    color: gray;
    margin-bottom: 10px;
}

.SimilarBoard-ListWrapper {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16%;
    justify-items: start;
    grid-row-gap: 15px;
    grid-column-gap: 5%;

}

.SimilarBoard-ItemWrapper {
    width: 100%;
    border-radius: 10px;
    margin: 20px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);


}

.SimilarBoard-ItemWrapper:hover {

    border-radius: 10px 10px 0px 0px;
    margin: 20px;
    cursor: pointer;
    transform: scale(1.03);
    -moz-box-shadow: 2px 2px 20px 3px #B3B3B3;
    -webkit-box-shadow: 2px 2px 20px 3px #B3B3B3;
    box-shadow: 2px 2px 20px 3px #B3B3B3;

}

.SimilarBoard-ItemImage {
    border-radius: 10px;
    width: 100%;
    height: 90%;
    -moz-box-shadow:0px 3px 17px -4px #757575;
    -webkit-box-shadow:0px 3px 17px -4px #757575;
    box-shadow:0px 3px 17px -4px #757575;
}

.SimilarBoard-ItemWrapper:hover .SimilarBoard-ItemImage {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 90%;
    -moz-box-shadow:0 0px 0px #ccc;;
    -webkit-box-shadow:0 0px 0px #ccc;;
    box-shadow:0 0px 0px #ccc;;
}

.SimilarBoard-ItemRating {


    font-size: 14px;
    font-weight: normal;
    text-align: center;



    padding-top: 10px;
    padding-bottom: 10px;
    transition: color 300ms cubic-bezier(0.445, 0.045, 0.355, 1);
    transition: background 300ms ease-in 0s ease-out;

}

.SimilarBoard-ItemWrapper:hover .SimilarBoard-ItemRating {


    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-top: -2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
    color: white;
    background-color: #374749;

}

.SimilarBoard-ItemRating-back {
    position: absolute;


    background-color: white;
    width: 100%;
    height: 20px;

}